@import '../bace/variables';
@import '../bace/_animations';

.advantage {
	text-align: center;
	padding:70px 0px 65px 0px;
	background: #F6F6F6;
	&__header {
		font-weight: 700;
		font-size: 30px;
		color: $second_color;
		margin:0px;
	}
    &__wrapper {
		display:flex;
		justify-content: space-between;
		margin-top:60px;
	}
	&__heart {
		animation:heartbeat 1.5s ease infinite;
		// animation-name:heartbeat;
		// animation-duration:1.5s;
		// animation-timing-function: ease;
		// animation-iteration-count:infinite;

		&:hover {
			animation-play-state:paused;
		}
	}
	&__item {
		 max-width:257px;
	}
	&__desc {
		margin-top:24px;
		p {
			color:$second_color;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
			margin:0px;
		}
		span {
			color:$second_color;
			font-weight: 700;
            font-size: 18px;
		}
		a {
			color:#FF0000;
			font-weight: 300;
         font-size: 14px;
			text-decoration:underline;
		}
	}
}

@import "../media/advantage/_advantageMedia"